@{
    ViewBag.Title = "Home Outside Weather Station";
}

<style>
    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Home Outside Weather Station</h1>
            <div class="currentTimestampDiv"></div>
        </div>
    </div>
    <div class="row">
        <br />
        <h2>Current Data</h2>
        <div class="col-md-3">
            <br />
            <br />
            <br />
            <h4>Temperature</h4>
            <div class="currentTemperatureDiv"></div>
            <div class="currentTemperature180Div"></div>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <br />
            <h4>Humidity</h4>
            <div class="currentHumidityDiv"></div>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <br />
            <h4>Pressure</h4>
            <div class="currentPressureDiv"></div>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <br />
            <h4>Wind Speed</h4>
            <div class="currentWindSpeedDiv"></div>
            <div class="currentWindSpeedGustDiv"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <br />
            <br />
            <br />
            <h4>Wind Direction</h4>
            <div class="currentWindDirectionDiv"></div>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <br />
            <h4>Rain</h4>
            <div class="currentRainDiv"></div>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <br />
            <h4>Battery</h4>
            <div class="currentBatteryDiv"></div>
        </div>
        <div class="col-md-3">
            <br />
            <br />
            <br />
            <h4>Solar</h4>
            <div class="currentSolarDiv"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Temperature (Hour)</h3>
            <div id="temperatureChartHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Temperature (Day)</h3>
            <div id="temperatureChartDay"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Temperature (Week)</h3>
            <div id="temperatureChartWeek"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Temperature 2 (Hour)</h3>
            <div id="temperature180ChartHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Temperature 2 (Day)</h3>
            <div id="temperature180ChartDay"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Temperature 2 (Week)</h3>
            <div id="temperature180ChartWeek"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Humidity (Hour)</h3>
            <div id="humidityChartHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Humidity (Day)</h3>
            <div id="humidityChartDay"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Humidity (Week)</h3>
            <div id="humidityChartWeek"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Pressure (Hour)</h3>
            <div id="pressureChartHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Pressure (Day)</h3>
            <div id="pressureChartDay"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Pressure (Week)</h3>
            <div id="pressureChartWeek"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Wind Speed (Hour)</h3>
            <div id="windSpeedChartHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Wind Speed (Day)</h3>
            <div id="windSpeedChartDay"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Wind Speed (Week)</h3>
            <div id="windSpeedChartWeek"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Wind Gust Speed (Hour)</h3>
            <div id="windGustSpeedChartHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Wind Gust Speed (Day)</h3>
            <div id="windGustSpeedChartDay"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Wind Gust Speed (Week)</h3>
            <div id="windGustSpeedChartWeek"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Wind Direction (Hour)</h3>
            <div id="windDirectionChartHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Wind Direction (Day)</h3>
            <div id="windDirectionChartDay"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Wind Direction (Week)</h3>
            <div id="windDirectionChartWeek"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Rain (Hour)</h3>
            <div id="rainChartHour"></div>
            <div id="rainTotalOneHour"></div>
            <div id="rainTotalSixHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Rain (Day)</h3>
            <div id="rainChartDay"></div>
            <div id="rainTotalTwelveHour"></div>
            <div id="rainTotalTwentyFourHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Rain (Week)</h3>
            <div id="rainChartWeek"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Battery (Hour)</h3>
            <div id="batteryChartHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Battery (Day)</h3>
            <div id="batteryChartDay"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Battery (Week)</h3>
            <div id="batteryChartWeek"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Solar (Hour)</h3>
            <div id="solarChartHour"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Solar (Day)</h3>
            <div id="solarChartDay"></div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h3>Solar (Week)</h3>
            <div id="solarChartWeek"></div>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/HomeOutsideWeatherStationDay.js"></script>
<script type="text/javascript" src="~/Content/HomeOutsideWeatherStationHour.js"></script>
<script type="text/javascript" src="~/Content/HomeOutsideWeatherStationWeek.js"></script>